In [1]:
import pandas as pd
df=pd.read_csv(r'ready_file.csv')

In [2]:
df.drop(columns='adj close', inplace=True)

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 609043 entries, 0 to 609042
Data columns (total 11 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   date                609043 non-null  object
 1   open                609043 non-null  float64
 2   high                609043 non-null  float64
 3   low                 609043 non-null  float64
 4   close               609043 non-null  float64
 5   volume              609043 non-null  int64
 6   dividends           609043 non-null  float64
 7   stock splits        609043 non-null  float64
 8   symbol              609043 non-null  object
 9   capital gains       609043 non-null  float64
 10  previous day close  609043 non-null  float64
dtypes: float64(8), int64(1), object(2)
memory usage: 51.1+ MB

In [4]:
import pandas as pd

# Define the rolling period as a variable
rolling_period = 15

# Ensure 'date' is in datetime format
if 'date' in df.columns:
    df['date'] = pd.to_datetime(df['date'])
else:
    raise KeyError("The 'date' column is missing in the DataFrame.")

# Set the date as index for rolling calculations (if needed)
df.set_index('date', inplace=True)

# Function to calculate adjusted close with a customizable rolling period
def calculate_adjusted_close(group, period=rolling_period):
    # Calculate rolling sums for dividends and stock splits over the specified period
    group['rolling_dividends'] = group['dividends'].rolling(window=period).sum()
    group['rolling_splits'] = group['stock splits'].rolling(window=period).sum()
    
    # Calculate adjusted close based on rolling dividends and splits
    group['adj close'] = group['close'] + group['rolling_dividends'] - group['rolling_splits']
    
    return group

# Group by 'symbol' and apply the adjusted close calculation
df = df.groupby('symbol', group_keys=False).apply(calculate_adjusted_close, period=rolling_period)

# Reset the index to bring 'date' back as a column
df.reset_index(inplace=True)

# Create a column for previous day's adjusted close
df['prev_close'] = df.groupby('symbol')['adj close'].shift(1)

# Optional: Sort the DataFrame by date and symbol for better readability
df.sort_values(by=['symbol', 'date'], inplace=True)

# Display the first few rows of the updated DataFrame
print(df[['date', 'symbol', 'close', 'dividends', 'adj close', 'prev_close']].head(20))

                            date symbol       close  dividends   adj close  \
0      2024-06-09 20:00:00-04:00      A  132.783569      0.000         NaN
9785   2024-06-10 20:00:00-04:00      A  131.865280      0.000         NaN
19571  2024-06-11 20:00:00-04:00      A  132.913330      0.000         NaN
29361  2024-06-12 20:00:00-04:00      A  130.328125      0.000         NaN
39154  2024-06-13 20:00:00-04:00      A  129.609467      0.000         NaN
48951  2024-06-16 20:00:00-04:00      A  131.585800      0.000         NaN
58754  2024-06-17 20:00:00-04:00      A  134.650101      0.000         NaN
68560  2024-06-19 20:00:00-04:00      A  132.484116      0.000         NaN
78371  2024-06-20 20:00:00-04:00      A  133.003159      0.000         NaN
88183  2024-06-23 20:00:00-04:00      A  134.829773      0.000         NaN
97999  2024-06-24 20:00:00-04:00      A  134.440491      0.000         NaN
107822 2024-06-25 20:00:00-04:00      A  132.843460      0.000         NaN
117647 2024-06-26 20:00:00-04:00      A  130.557709      0.000         NaN
127473 2024-06-27 20:00:00-04:00      A  129.389877      0.000         NaN
137309 2024-06-30 20:00:00-04:00      A  127.164001      0.000  112.164001
147150 2024-07-01 20:00:00-04:00      A  125.779999      0.236  111.015999
157004 2024-07-02 20:00:00-04:00      A  126.129997      0.000  111.365997
166868 2024-07-04 20:00:00-04:00      A  126.370003      0.000  111.606003
176732 2024-07-07 20:00:00-04:00      A  126.070000      0.000  111.306000
186597 2024-07-08 20:00:00-04:00      A  125.419998      0.000  110.655998

        prev_close
0              NaN
9785           NaN
19571          NaN
29361          NaN
39154          NaN
48951          NaN
58754          NaN
68560          NaN
78371          NaN
88183          NaN
97999          NaN
107822         NaN
117647         NaN
127473         NaN
137309         NaN
147150  112.164001
157004  111.015999
166868  111.365997
176732  111.606003
186597  111.306000

In [6]:
#Lets create two new features maximum day differing and difference of open and close price.
df ['maxdiff'] = df[ 'high'] - df['low']
df ['daydiff'] = df[ 'close'] - df['open']

In [7]:
df.head(50)

,date,open,high,low,close,volume,dividends,stock splits,symbol,capital gains,previous day close,rolling_dividends,rolling_splits,adj close,prev_close,maxdiff,daydiff
0,2024-06-09 20:00:00-04:00,132.623862,133.602058,132.005015,132.783569,1673600,0.000,1.0,A,0.049911,132.733658,NaN,NaN,NaN,NaN,1.597042,0.159707
9785,2024-06-10 20:00:00-04:00,132.394297,132.743655,131.246434,131.865280,2081600,0.000,1.0,A,-0.918289,132.783569,NaN,NaN,NaN,NaN,1.497221,-0.529017
19571,2024-06-11 20:00:00-04:00,133.382461,133.392437,132.084866,132.913330,2399900,0.000,1.0,A,1.048050,131.865280,NaN,NaN,NaN,NaN,1.307571,-0.469131
29361,2024-06-12 20:00:00-04:00,132.344372,132.753616,129.799093,130.328125,2555400,0.000,1.0,A,-2.585205,132.913330,NaN,NaN,NaN,NaN,2.954523,-2.016247
39154,2024-06-13 20:00:00-04:00,129.759183,130.497817,129.000596,129.609467,2163300,0.000,1.0,A,-0.718658,130.328125,NaN,NaN,NaN,NaN,1.497221,-0.149716
48951,2024-06-16 20:00:00-04:00,130.867133,131.825361,129.260114,131.585800,2090500,0.000,1.0,A,1.976334,129.609467,NaN,NaN,NaN,NaN,2.565247,0.718667
58754,2024-06-17 20:00:00-04:00,131.885243,134.899638,131.316291,134.650101,3453000,0.000,1.0,A,3.064301,131.585800,NaN,NaN,NaN,NaN,3.583346,2.764858
68560,2024-06-19 20:00:00-04:00,133.013133,134.400557,132.284489,132.484116,2887400,0.000,1.0,A,-2.165985,134.650101,NaN,NaN,NaN,NaN,2.116068,-0.529017
78371,2024-06-20 20:00:00-04:00,132.603906,134.250843,131.955101,133.003159,4461300,0.000,1.0,A,0.519043,132.484116,NaN,NaN,NaN,NaN,2.295742,0.399253
88183,2024-06-23 20:00:00-04:00,135.049367,137.454906,134.091138,134.829773,3339500,0.000,1.0,A,1.826614,133.003159,NaN,NaN,NaN,NaN,3.363768,-0.219594
97999,2024-06-24 20:00:00-04:00,134.749914,135.758038,134.041223,134.440491,2310800,0.000,1.0,A,-0.389282,134.829773,NaN,NaN,NaN,NaN,1.716815,-0.309423
107822,2024-06-25 20:00:00-04:00,133.741802,134.959543,132.514070,132.843460,1836800,0.000,1.0,A,-1.597031,134.440491,NaN,NaN,NaN,NaN,2.445474,-0.898342
117647,2024-06-26 20:00:00-04:00,131.955109,132.743654,130.338115,130.557709,1898000,0.000,1.0,A,-2.285751,132.843460,NaN,NaN,NaN,NaN,2.405539,-1.397401
127473,2024-06-27 20:00:00-04:00,131.416116,132.793549,128.152169,129.389877,9817600,0.000,1.0,A,-1.167831,130.557709,NaN,NaN,NaN,NaN,4.641380,-2.026238
137309,2024-06-30 20:00:00-04:00,130.447908,131.545861,126.824627,127.164001,2364800,0.000,1.0,A,-2.225876,129.389877,0.000,15.0,112.164001,NaN,4.721234,-3.283906
147150,2024-07-01 20:00:00-04:00,127.430000,128.570007,125.440002,125.779999,1981100,0.236,1.0,A,-1.384003,127.164001,0.236,15.0,111.015999,112.164001,3.130005,-1.650002
157004,2024-07-02 20:00:00-04:00,126.120003,127.660004,125.830002,126.129997,1288200,0.000,1.0,A,0.349998,125.779999,0.236,15.0,111.365997,111.015999,1.830002,0.009995
166868,2024-07-04 20:00:00-04:00,126.400002,126.610001,125.290001,126.370003,1341700,0.000,1.0,A,0.240005,126.129997,0.236,15.0,111.606003,111.365997,1.320000,-0.029999
176732,2024-07-07 20:00:00-04:00,126.680000,126.730003,125.400002,126.070000,2091100,0.000,1.0,A,-0.300003,126.370003,0.236,15.0,111.306000,111.606003,1.330002,-0.610001
186597,2024-07-08 20:00:00-04:00,126.239998,126.239998,124.160004,125.419998,1558900,0.000,1.0,A,-0.650002,126.070000,0.236,15.0,110.655998,111.306000,2.079994,-0.820000
196464,2024-07-09 20:00:00-04:00,126.419998,127.139999,125.540001,127.070000,1837300,0.000,1.0,A,1.650002,125.419998,0.236,15.0,112.306000,110.655998,1.599998,0.650002
206333,2024-07-10 20:00:00-04:00,128.800003,131.539993,127.879997,130.820007,1667200,0.000,1.0,A,3.750008,127.070000,0.236,15.0,116.056007,112.306000,3.659996,2.020004
216210,2024-07-11 20:00:00-04:00,131.169998,133.399994,130.639999,132.229996,1477300,0.000,1.0,A,1.409988,130.820007,0.236,15.0,117.465996,116.056007,2.759995,1.059998
226099,2024-07-14 20:00:00-04:00,132.009995,133.139999,130.779999,131.009995,1015700,0.000,1.0,A,-1.220001,132.229996,0.236,15.0,116.245995,117.465996,2.360001,-1.000000
235994,2024-07-15 20:00:00-04:00,131.990005,136.190002,131.600006,136.059998,1064300,0.000,1.0,A,5.050003,131.009995,0.236,15.0,121.295998,116.245995,4.589996,4.069992
245890,2024-07-16 20:00:00-04:00,135.160004,136.000000,133.419998,133.500000,1031200,0.000,1.0,A,-2.559998,136.059998,0.236,15.0,118.736000,121.295998,2.580002,-1.660004
255787,2024-07-17 20:00:00-04:00,132.320007,135.210007,131.660004,131.970001,2783500,0.000,1.0,A,-1.529999,133.500000,0.236,15.0,117.206001,118.736000,3.550003,-0.350006
265695,2024-07-18 20:00:00-04:00,131.960007,132.779999,130.289993,131.779999,1731400,0.000,1.0,A,-0.190002,131.970001,0.236,15.0,117.015999,117.206001,2.490005,-0.180008
275610,2024-07-21 20:00:00-04:00,133.059998,133.929993,131.399994,133.419998,2009400,0.000,1.0,A,1.639999,131.779999,0.236,15.0,118.655998,117.015999,2.529999,0.360001
285528,2024-07-22 20:00:00-04:00,137.610001,137.660004,130.490005,130.649994,1640800,0.000,1.0,A,-2.770004,133.419998,0.236,15.0,115.885994,118.655998,7.169998,-6.960007
295449,2024-07-23 20:00:00-04:00,130.869995,134.429993,130.179993,134.160004,2066700,0.000,1.0,A,3.510010,130.649994,0.000,15.0,119.160004,115.885994,4.250000,3.290009
305383,2024-07-24 20:00:00-04:00,133.949997,138.369995,133.449997,134.979996,1338900,0.000,1.0,A,0.819992,134.160004,0.000,15.0,119.979996,119.160004,4.919998,1.029999
315319,2024-07-25 20:00:00-04:00,136.690002,140.289993,136.080002,137.320007,1717700,0.000,1.0,A,2.340012,134.979996,0.000,15.0,122.320007,119.979996,4.209991,0.630005
325262,2024-07-28 20:00:00-04:00,137.589996,137.779999,135.619995,137.380005,1222600,0.000,1.0,A,0.059998,137.320007,0.000,15.0,122.380005,122.320007,2.160004,-0.209991
335206,2024-07-29 20:00:00-04:00,138.039993,139.729996,137.110001,139.490005,1428000,0.000,1.0,A,2.110001,137.380005,0.000,15.0,124.490005,122.380005,2.619995,1.450012
345152,2024-07-30 20:00:00-04:00,140.389999,144.000000,139.710007,141.399994,2582700,0.000,1.0,A,1.909988,139.490005,0.000,15.0,126.399994,124.490005,4.289993,1.009995
355101,2024-07-31 20:00:00-04:00,142.240005,144.220001,141.750000,142.860001,2896500,0.000,1.0,A,1.460007,141.399994,0.000,15.0,127.860001,126.399994,2.470001,0.619995
365056,2024-08-01 20:00:00-04:00,141.979996,143.169998,135.759995,139.039993,2298400,0.000,1.0,A,-3.820007,142.860001,0.000,15.0,124.039993,127.860001,7.410004,-2.940002
375026,2024-08-04 20:00:00-04:00,136.550003,136.820007,133.059998,134.699997,1885200,0.000,1.0,A,-4.339996,139.039993,0.000,15.0,119.699997,124.039993,3.760010,-1.850006
384998,2024-08-05 20:00:00-04:00,135.419998,138.919998,134.270004,136.259995,1462000,0.000,1.0,A,1.559998,134.699997,0.000,15.0,121.259995,119.699997,4.649994,0.839996
394971,2024-08-06 20:00:00-04:00,137.250000,138.089996,133.690002,133.960007,1553900,0.000,1.0,A,-2.299988,136.259995,0.000,15.0,118.960007,121.259995,4.399994,-3.289993
404947,2024-08-07 20:00:00-04:00,134.149994,137.220001,133.779999,136.759995,976900,0.000,1.0,A,2.799988,133.960007,0.000,15.0,121.759995,118.960007,3.440002,2.610001
414927,2024-08-08 20:00:00-04:00,136.839996,137.860001,136.100006,136.899994,737600,0.000,1.0,A,0.139999,136.759995,0.000,15.0,121.899994,121.759995,1.759995,0.059998
424909,2024-08-11 20:00:00-04:00,136.809998,136.809998,134.479996,135.600006,1347200,0.000,1.0,A,-1.299988,136.899994,0.000,15.0,120.600006,121.899994,2.330002,-1.209991
434891,2024-08-12 20:00:00-04:00,135.830002,137.699997,135.330002,137.419998,1158000,0.000,1.0,A,1.819992,135.600006,0.000,15.0,122.419998,120.600006,2.369995,1.589996
444875,2024-08-13 20:00:00-04:00,137.929993,138.690002,135.880005,136.029999,1090000,0.000,1.0,A,-1.389999,137.419998,0.000,15.0,121.029999,122.419998,2.809998,-1.899994
454869,2024-08-14 20:00:00-04:00,137.660004,139.990005,137.660004,139.889999,1120300,0.000,1.0,A,3.860001,136.029999,0.000,15.0,124.889999,121.029999,2.330002,2.229996
464865,2024-08-15 20:00:00-04:00,139.789993,140.899994,138.520004,140.039993,1284800,0.000,1.0,A,0.149994,139.889999,0.000,15.0,125.039993,124.889999,2.379990,0.250000
474865,2024-08-18 20:00:00-04:00,140.550003,141.289993,139.279999,140.509995,1714000,0.000,1.0,A,0.470001,140.039993,0.000,15.0,125.509995,125.039993,2.009995,-0.040009
484866,2024-08-19 20:00:00-04:00,140.600006,141.539993,139.429993,139.750000,1227700,0.000,1.0,A,-0.759995,140.509995,0.000,15.0,124.750000,125.509995,2.110001,-0.850006

In [8]:
import numpy as np
import pandas as pd

def RSI(series, period):
    # Ensure the input series is a float
    series = series.astype(float)
    
    # Calculate price changes
    delta = series.diff()
    
    # Calculate gains and losses
    gain = (delta.where(delta > 0, 0)).rolling(window=period).mean()
    loss = (-delta.where(delta < 0, 0)).rolling(window=period).mean()
    
    # Calculate the relative strength (RS) and the RSI
    rs = gain / loss
    rsi = 100 - (100 / (1 + rs))
    
    # Return the RSI, aligning with the original series
    return rsi

# Assuming df is your original DataFrame and it has 'symbol' and 'adj close' columns
rsi_period = 10

# Initialize the RSI column with NaN
df['RSI'] = np.nan  

# Group by 'symbol' and calculate RSI for each group
for symbol, group in df.groupby('symbol'):
    df.loc[group.index, 'RSI'] = RSI(group['adj close'], rsi_period)

# Display the DataFrame with the newly added RSI
print(df.head())

                           date        open        high         low  \
0     2024-06-09 20:00:00-04:00  132.623862  133.602058  132.005015
9785  2024-06-10 20:00:00-04:00  132.394297  132.743655  131.246434
19571 2024-06-11 20:00:00-04:00  133.382461  133.392437  132.084866
29361 2024-06-12 20:00:00-04:00  132.344372  132.753616  129.799093
39154 2024-06-13 20:00:00-04:00  129.759183  130.497817  129.000596

            close   volume  dividends  stock splits symbol  capital gains  \
0      132.783569  1673600        0.0           1.0      A       0.049911
9785   131.865280  2081600        0.0           1.0      A      -0.918289
19571  132.913330  2399900        0.0           1.0      A       1.048050
29361  130.328125  2555400        0.0           1.0      A      -2.585205
39154  129.609467  2163300        0.0           1.0      A      -0.718658

       previous day close  rolling_dividends  rolling_splits  adj close  \
0              132.733658                NaN             NaN        NaN
9785           132.783569                NaN             NaN        NaN
19571          131.865280                NaN             NaN        NaN
29361          132.913330                NaN             NaN        NaN
39154          130.328125                NaN             NaN        NaN

       prev_close   maxdiff   daydiff  RSI
0             NaN  1.597042  0.159707  NaN
9785          NaN  1.497221 -0.529017  NaN
19571         NaN  1.307571 -0.469131  NaN
29361         NaN  2.954523 -2.016247  NaN
39154         NaN  1.497221 -0.149716  NaN

In [9]:
def aroon(data, lb=15):
    df = data.copy()
    df['up'] = 100 * df['high'].rolling(lb + 1).apply(lambda x: x.argmax()) / lb
    df['dn'] = 100 * df['low'].rolling(lb + 1).apply(lambda x: x.argmin()) / lb
    return df['up'], df['dn']
df['up'],df['dn'] = aroon(df, lb=15)

In [10]:
df.head(50)

,date,open,high,low,close,volume,dividends,stock splits,symbol,capital gains,previous day close,rolling_dividends,rolling_splits,adj close,prev_close,maxdiff,daydiff,RSI,up,dn
0,2024-06-09 20:00:00-04:00,132.623862,133.602058,132.005015,132.783569,1673600,0.000,1.0,A,0.049911,132.733658,NaN,NaN,NaN,NaN,1.597042,0.159707,NaN,NaN,NaN
9785,2024-06-10 20:00:00-04:00,132.394297,132.743655,131.246434,131.865280,2081600,0.000,1.0,A,-0.918289,132.783569,NaN,NaN,NaN,NaN,1.497221,-0.529017,NaN,NaN,NaN
19571,2024-06-11 20:00:00-04:00,133.382461,133.392437,132.084866,132.913330,2399900,0.000,1.0,A,1.048050,131.865280,NaN,NaN,NaN,NaN,1.307571,-0.469131,NaN,NaN,NaN
29361,2024-06-12 20:00:00-04:00,132.344372,132.753616,129.799093,130.328125,2555400,0.000,1.0,A,-2.585205,132.913330,NaN,NaN,NaN,NaN,2.954523,-2.016247,NaN,NaN,NaN
39154,2024-06-13 20:00:00-04:00,129.759183,130.497817,129.000596,129.609467,2163300,0.000,1.0,A,-0.718658,130.328125,NaN,NaN,NaN,NaN,1.497221,-0.149716,NaN,NaN,NaN
48951,2024-06-16 20:00:00-04:00,130.867133,131.825361,129.260114,131.585800,2090500,0.000,1.0,A,1.976334,129.609467,NaN,NaN,NaN,NaN,2.565247,0.718667,NaN,NaN,NaN
58754,2024-06-17 20:00:00-04:00,131.885243,134.899638,131.316291,134.650101,3453000,0.000,1.0,A,3.064301,131.585800,NaN,NaN,NaN,NaN,3.583346,2.764858,NaN,NaN,NaN
68560,2024-06-19 20:00:00-04:00,133.013133,134.400557,132.284489,132.484116,2887400,0.000,1.0,A,-2.165985,134.650101,NaN,NaN,NaN,NaN,2.116068,-0.529017,NaN,NaN,NaN
78371,2024-06-20 20:00:00-04:00,132.603906,134.250843,131.955101,133.003159,4461300,0.000,1.0,A,0.519043,132.484116,NaN,NaN,NaN,NaN,2.295742,0.399253,NaN,NaN,NaN
88183,2024-06-23 20:00:00-04:00,135.049367,137.454906,134.091138,134.829773,3339500,0.000,1.0,A,1.826614,133.003159,NaN,NaN,NaN,NaN,3.363768,-0.219594,NaN,NaN,NaN
97999,2024-06-24 20:00:00-04:00,134.749914,135.758038,134.041223,134.440491,2310800,0.000,1.0,A,-0.389282,134.829773,NaN,NaN,NaN,NaN,1.716815,-0.309423,NaN,NaN,NaN
107822,2024-06-25 20:00:00-04:00,133.741802,134.959543,132.514070,132.843460,1836800,0.000,1.0,A,-1.597031,134.440491,NaN,NaN,NaN,NaN,2.445474,-0.898342,NaN,NaN,NaN
117647,2024-06-26 20:00:00-04:00,131.955109,132.743654,130.338115,130.557709,1898000,0.000,1.0,A,-2.285751,132.843460,NaN,NaN,NaN,NaN,2.405539,-1.397401,NaN,NaN,NaN
127473,2024-06-27 20:00:00-04:00,131.416116,132.793549,128.152169,129.389877,9817600,0.000,1.0,A,-1.167831,130.557709,NaN,NaN,NaN,NaN,4.641380,-2.026238,NaN,NaN,NaN
137309,2024-06-30 20:00:00-04:00,130.447908,131.545861,126.824627,127.164001,2364800,0.000,1.0,A,-2.225876,129.389877,0.000,15.0,112.164001,NaN,4.721234,-3.283906,NaN,NaN,NaN
147150,2024-07-01 20:00:00-04:00,127.430000,128.570007,125.440002,125.779999,1981100,0.236,1.0,A,-1.384003,127.164001,0.236,15.0,111.015999,112.164001,3.130005,-1.650002,0.000000,60.000000,100.000000
157004,2024-07-02 20:00:00-04:00,126.120003,127.660004,125.830002,126.129997,1288200,0.000,1.0,A,0.349998,125.779999,0.236,15.0,111.365997,111.015999,1.830002,0.009995,23.364366,53.333333,93.333333
166868,2024-07-04 20:00:00-04:00,126.400002,126.610001,125.290001,126.370003,1341700,0.000,1.0,A,0.240005,126.129997,0.236,15.0,111.606003,111.365997,1.320000,-0.029999,33.947164,46.666667,100.000000
176732,2024-07-07 20:00:00-04:00,126.680000,126.730003,125.400002,126.070000,2091100,0.000,1.0,A,-0.300003,126.370003,0.236,15.0,111.306000,111.606003,1.330002,-0.610001,28.950008,40.000000,93.333333
186597,2024-07-08 20:00:00-04:00,126.239998,126.239998,124.160004,125.419998,1558900,0.000,1.0,A,-0.650002,126.070000,0.236,15.0,110.655998,111.306000,2.079994,-0.820000,21.949461,33.333333,100.000000
196464,2024-07-09 20:00:00-04:00,126.419998,127.139999,125.540001,127.070000,1837300,0.000,1.0,A,1.650002,125.419998,0.236,15.0,112.306000,110.655998,1.599998,0.650002,51.636674,26.666667,93.333333
206333,2024-07-10 20:00:00-04:00,128.800003,131.539993,127.879997,130.820007,1667200,0.000,1.0,A,3.750008,127.070000,0.236,15.0,116.056007,112.306000,3.659996,2.020004,74.060312,20.000000,86.666667
216210,2024-07-11 20:00:00-04:00,131.169998,133.399994,130.639999,132.229996,1477300,0.000,1.0,A,1.409988,130.820007,0.236,15.0,117.465996,116.056007,2.759995,1.059998,77.911083,13.333333,80.000000
226099,2024-07-14 20:00:00-04:00,132.009995,133.139999,130.779999,131.009995,1015700,0.000,1.0,A,-1.220001,132.229996,0.236,15.0,116.245995,117.465996,2.360001,-1.000000,69.042682,6.666667,73.333333
235994,2024-07-15 20:00:00-04:00,131.990005,136.190002,131.600006,136.059998,1064300,0.000,1.0,A,5.050003,131.009995,0.236,15.0,121.295998,116.245995,4.589996,4.069992,78.957346,0.000000,66.666667
245890,2024-07-16 20:00:00-04:00,135.160004,136.000000,133.419998,133.500000,1031200,0.000,1.0,A,-2.559998,136.059998,0.236,15.0,118.736000,121.295998,2.580002,-1.660004,72.467979,93.333333,60.000000
255787,2024-07-17 20:00:00-04:00,132.320007,135.210007,131.660004,131.970001,2783500,0.000,1.0,A,-1.529999,133.500000,0.236,15.0,117.206001,118.736000,3.550003,-0.350006,65.904143,86.666667,53.333333
265695,2024-07-18 20:00:00-04:00,131.960007,132.779999,130.289993,131.779999,1731400,0.000,1.0,A,-0.190002,131.970001,0.236,15.0,117.015999,117.206001,2.490005,-0.180008,64.773333,80.000000,46.666667
275610,2024-07-21 20:00:00-04:00,133.059998,133.929993,131.399994,133.419998,2009400,0.000,1.0,A,1.639999,131.779999,0.236,15.0,118.655998,117.015999,2.529999,0.360001,68.702285,73.333333,40.000000
285528,2024-07-22 20:00:00-04:00,137.610001,137.660004,130.490005,130.649994,1640800,0.000,1.0,A,-2.770004,133.419998,0.236,15.0,115.885994,118.655998,7.169998,-6.960007,62.011931,100.000000,33.333333
295449,2024-07-23 20:00:00-04:00,130.869995,134.429993,130.179993,134.160004,2066700,0.000,1.0,A,3.510010,130.649994,0.000,15.0,119.160004,115.885994,4.250000,3.290009,64.649056,93.333333,26.666667
305383,2024-07-24 20:00:00-04:00,133.949997,138.369995,133.449997,134.979996,1338900,0.000,1.0,A,0.819992,134.160004,0.000,15.0,119.979996,119.160004,4.919998,1.029999,59.587542,100.000000,20.000000
315319,2024-07-25 20:00:00-04:00,136.690002,140.289993,136.080002,137.320007,1717700,0.000,1.0,A,2.340012,134.979996,0.000,15.0,122.320007,119.979996,4.209991,0.630005,61.344319,100.000000,13.333333
325262,2024-07-28 20:00:00-04:00,137.589996,137.779999,135.619995,137.380005,1222600,0.000,1.0,A,0.059998,137.320007,0.000,15.0,122.380005,122.320007,2.160004,-0.209991,65.157669,93.333333,6.666667
335206,2024-07-29 20:00:00-04:00,138.039993,139.729996,137.110001,139.490005,1428000,0.000,1.0,A,2.110001,137.380005,0.000,15.0,124.490005,122.380005,2.619995,1.450012,59.234432,86.666667,0.000000
345152,2024-07-30 20:00:00-04:00,140.389999,144.000000,139.710007,141.399994,2582700,0.000,1.0,A,1.909988,139.490005,0.000,15.0,126.399994,124.490005,4.289993,1.009995,73.023287,100.000000,0.000000
355101,2024-07-31 20:00:00-04:00,142.240005,144.220001,141.750000,142.860001,2896500,0.000,1.0,A,1.460007,141.399994,0.000,15.0,127.860001,126.399994,2.470001,0.619995,82.140676,100.000000,0.000000
365056,2024-08-01 20:00:00-04:00,141.979996,143.169998,135.759995,139.039993,2298400,0.000,1.0,A,-3.820007,142.860001,0.000,15.0,124.039993,127.860001,7.410004,-2.940002,67.382668,93.333333,53.333333
375026,2024-08-04 20:00:00-04:00,136.550003,136.820007,133.059998,134.699997,1885200,0.000,1.0,A,-4.339996,139.039993,0.000,15.0,119.699997,124.039993,3.760010,-1.850006,52.279074,86.666667,46.666667
384998,2024-08-05 20:00:00-04:00,135.419998,138.919998,134.270004,136.259995,1462000,0.000,1.0,A,1.559998,134.699997,0.000,15.0,121.259995,119.699997,4.649994,0.839996,62.385910,80.000000,40.000000
394971,2024-08-06 20:00:00-04:00,137.250000,138.089996,133.690002,133.960007,1553900,0.000,1.0,A,-2.299988,136.259995,0.000,15.0,118.960007,121.259995,4.399994,-3.289993,49.517382,73.333333,33.333333
404947,2024-08-07 20:00:00-04:00,134.149994,137.220001,133.779999,136.759995,976900,0.000,1.0,A,2.799988,133.960007,0.000,15.0,121.759995,118.960007,3.440002,2.610001,53.920705,66.666667,26.666667
414927,2024-08-08 20:00:00-04:00,136.839996,137.860001,136.100006,136.899994,737600,0.000,1.0,A,0.139999,136.759995,0.000,15.0,121.899994,121.759995,1.759995,0.059998,48.975575,60.000000,20.000000
424909,2024-08-11 20:00:00-04:00,136.809998,136.809998,134.479996,135.600006,1347200,0.000,1.0,A,-1.299988,136.899994,0.000,15.0,120.600006,121.899994,2.330002,-1.209991,45.906159,53.333333,13.333333
434891,2024-08-12 20:00:00-04:00,135.830002,137.699997,135.330002,137.419998,1158000,0.000,1.0,A,1.819992,135.600006,0.000,15.0,122.419998,120.600006,2.369995,1.589996,45.174797,46.666667,6.666667
444875,2024-08-13 20:00:00-04:00,137.929993,138.690002,135.880005,136.029999,1090000,0.000,1.0,A,-1.389999,137.419998,0.000,15.0,121.029999,122.419998,2.809998,-1.899994,37.171513,40.000000,0.000000
454869,2024-08-14 20:00:00-04:00,137.660004,139.990005,137.660004,139.889999,1120300,0.000,1.0,A,3.860001,136.029999,0.000,15.0,124.889999,121.029999,2.330002,2.229996,43.634790,33.333333,46.666667
464865,2024-08-15 20:00:00-04:00,139.789993,140.899994,138.520004,140.039993,1284800,0.000,1.0,A,0.149994,139.889999,0.000,15.0,125.039993,124.889999,2.379990,0.250000,52.543242,26.666667,40.000000
474865,2024-08-18 20:00:00-04:00,140.550003,141.289993,139.279999,140.509995,1714000,0.000,1.0,A,0.470001,140.039993,0.000,15.0,125.509995,125.039993,2.009995,-0.040009,68.397774,20.000000,33.333333
484866,2024-08-19 20:00:00-04:00,140.600006,141.539993,139.429993,139.750000,1227700,0.000,1.0,A,-0.759995,140.509995,0.000,15.0,124.750000,125.509995,2.110001,-0.850006,61.641156,13.333333,26.666667

In [11]:
df = df.dropna(subset=['RSI'])

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 455154 entries, 147150 to 609042
Data columns (total 20 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   date                455154 non-null  datetime64[ns, UTC-04:00]
 1   open                455154 non-null  float64
 2   high                455154 non-null  float64
 3   low                 455154 non-null  float64
 4   close               455154 non-null  float64
 5   volume              455154 non-null  int64
 6   dividends           455154 non-null  float64
 7   stock splits        455154 non-null  float64
 8   symbol              455154 non-null  object
 9   capital gains       455154 non-null  float64
 10  previous day close  455154 non-null  float64
 11  rolling_dividends   455154 non-null  float64
 12  rolling_splits      455154 non-null  float64
 13  adj close           455154 non-null  float64
 14  prev_close          455154 non-null  float64
 15  maxdiff             455154 non-null  float64
 16  daydiff             455154 non-null  float64
 17  RSI                 455154 non-null  float64
 18  up                  455154 non-null  float64
 19  dn                  455154 non-null  float64
dtypes: datetime64[ns, UTC-04:00](1), float64(17), int64(1), object(1)
memory usage: 72.9+ MB

In [13]:
# Initialize columns for EMA, MACD, and Signal Line
df['EMA12'] = np.nan
df['EMA26'] = np.nan
df['MACD'] = np.nan
df['SignalLine'] = np.nan

# Group by 'symbol' and calculate EMA, MACD, and Signal Line
for symbol, group in df.groupby('symbol'):
    group['EMA12'] = group['adj close'].ewm(span=12, min_periods=12).mean()
    group['EMA26'] = group['adj close'].ewm(span=26, min_periods=26).mean()
    group['MACD'] = group['EMA12'] - group['EMA26']
    group['SignalLine'] = group['MACD'].ewm(span=9, min_periods=9).mean()

    # Assign back to the original DataFrame
    df.loc[group.index, ['EMA12', 'EMA26', 'MACD', 'SignalLine']] = group[['EMA12', 'EMA26', 'MACD', 'SignalLine']]

# Display the DataFrame with the newly added MACD and Signal Line
print(df.head())

                            date        open        high         low  \
147150 2024-07-01 20:00:00-04:00  127.430000  128.570007  125.440002
157004 2024-07-02 20:00:00-04:00  126.120003  127.660004  125.830002
166868 2024-07-04 20:00:00-04:00  126.400002  126.610001  125.290001
176732 2024-07-07 20:00:00-04:00  126.680000  126.730003  125.400002
186597 2024-07-08 20:00:00-04:00  126.239998  126.239998  124.160004

             close   volume  dividends  stock splits symbol  capital gains  \
147150  125.779999  1981100      0.236           1.0      A      -1.384003
157004  126.129997  1288200      0.000           1.0      A       0.349998
166868  126.370003  1341700      0.000           1.0      A       0.240005
176732  126.070000  2091100      0.000           1.0      A      -0.300003
186597  125.419998  1558900      0.000           1.0      A      -0.650002

        ...  prev_close   maxdiff   daydiff        RSI         up          dn  \
147150  ...  112.164001  3.130005 -1.650002   0.000000  60.000000  100.000000
157004  ...  111.015999  1.830002  0.009995  23.364366  53.333333   93.333333
166868  ...  111.365997  1.320000 -0.029999  33.947164  46.666667  100.000000
176732  ...  111.606003  1.330002 -0.610001  28.950008  40.000000   93.333333
186597  ...  111.306000  2.079994 -0.820000  21.949461  33.333333  100.000000

        EMA12  EMA26  MACD  SignalLine
147150    NaN    NaN   NaN         NaN
157004    NaN    NaN   NaN         NaN
166868    NaN    NaN   NaN         NaN
176732    NaN    NaN   NaN         NaN
186597    NaN    NaN   NaN         NaN

[5 rows x 24 columns]

In [14]:
df.head(50)

,date,open,high,low,close,volume,dividends,stock splits,symbol,capital gains,...,prev_close,maxdiff,daydiff,RSI,up,dn,EMA12,EMA26,MACD,SignalLine
147150,2024-07-01 20:00:00-04:00,127.430000,128.570007,125.440002,125.779999,1981100,0.236,1.0,A,-1.384003,...,112.164001,3.130005,-1.650002,0.000000,60.000000,100.000000,NaN,NaN,NaN,NaN
157004,2024-07-02 20:00:00-04:00,126.120003,127.660004,125.830002,126.129997,1288200,0.000,1.0,A,0.349998,...,111.015999,1.830002,0.009995,23.364366,53.333333,93.333333,NaN,NaN,NaN,NaN
166868,2024-07-04 20:00:00-04:00,126.400002,126.610001,125.290001,126.370003,1341700,0.000,1.0,A,0.240005,...,111.365997,1.320000,-0.029999,33.947164,46.666667,100.000000,NaN,NaN,NaN,NaN
176732,2024-07-07 20:00:00-04:00,126.680000,126.730003,125.400002,126.070000,2091100,0.000,1.0,A,-0.300003,...,111.606003,1.330002,-0.610001,28.950008,40.000000,93.333333,NaN,NaN,NaN,NaN
186597,2024-07-08 20:00:00-04:00,126.239998,126.239998,124.160004,125.419998,1558900,0.000,1.0,A,-0.650002,...,111.306000,2.079994,-0.820000,21.949461,33.333333,100.000000,NaN,NaN,NaN,NaN
196464,2024-07-09 20:00:00-04:00,126.419998,127.139999,125.540001,127.070000,1837300,0.000,1.0,A,1.650002,...,110.655998,1.599998,0.650002,51.636674,26.666667,93.333333,NaN,NaN,NaN,NaN
206333,2024-07-10 20:00:00-04:00,128.800003,131.539993,127.879997,130.820007,1667200,0.000,1.0,A,3.750008,...,112.306000,3.659996,2.020004,74.060312,20.000000,86.666667,NaN,NaN,NaN,NaN
216210,2024-07-11 20:00:00-04:00,131.169998,133.399994,130.639999,132.229996,1477300,0.000,1.0,A,1.409988,...,116.056007,2.759995,1.059998,77.911083,13.333333,80.000000,NaN,NaN,NaN,NaN
226099,2024-07-14 20:00:00-04:00,132.009995,133.139999,130.779999,131.009995,1015700,0.000,1.0,A,-1.220001,...,117.465996,2.360001,-1.000000,69.042682,6.666667,73.333333,NaN,NaN,NaN,NaN
235994,2024-07-15 20:00:00-04:00,131.990005,136.190002,131.600006,136.059998,1064300,0.000,1.0,A,5.050003,...,116.245995,4.589996,4.069992,78.957346,0.000000,66.666667,NaN,NaN,NaN,NaN
245890,2024-07-16 20:00:00-04:00,135.160004,136.000000,133.419998,133.500000,1031200,0.000,1.0,A,-2.559998,...,121.295998,2.580002,-1.660004,72.467979,93.333333,60.000000,NaN,NaN,NaN,NaN
255787,2024-07-17 20:00:00-04:00,132.320007,135.210007,131.660004,131.970001,2783500,0.000,1.0,A,-1.529999,...,118.736000,3.550003,-0.350006,65.904143,86.666667,53.333333,116.239395,NaN,NaN,NaN
265695,2024-07-18 20:00:00-04:00,131.960007,132.779999,130.289993,131.779999,1731400,0.000,1.0,A,-0.190002,...,117.206001,2.490005,-0.180008,64.773333,80.000000,46.666667,116.374243,NaN,NaN,NaN
275610,2024-07-21 20:00:00-04:00,133.059998,133.929993,131.399994,133.419998,2009400,0.000,1.0,A,1.639999,...,117.015999,2.529999,0.360001,68.702285,73.333333,40.000000,116.762753,NaN,NaN,NaN
285528,2024-07-22 20:00:00-04:00,137.610001,137.660004,130.490005,130.649994,1640800,0.000,1.0,A,-2.770004,...,118.655998,7.169998,-6.960007,62.011931,100.000000,33.333333,116.615881,NaN,NaN,NaN
295449,2024-07-23 20:00:00-04:00,130.869995,134.429993,130.179993,134.160004,2066700,0.000,1.0,A,3.510010,...,115.885994,4.250000,3.290009,64.649056,93.333333,26.666667,117.036317,NaN,NaN,NaN
305383,2024-07-24 20:00:00-04:00,133.949997,138.369995,133.449997,134.979996,1338900,0.000,1.0,A,0.819992,...,119.160004,4.919998,1.029999,59.587542,100.000000,20.000000,117.517294,NaN,NaN,NaN
315319,2024-07-25 20:00:00-04:00,136.690002,140.289993,136.080002,137.320007,1717700,0.000,1.0,A,2.340012,...,119.979996,4.209991,0.630005,61.344319,100.000000,13.333333,118.294604,NaN,NaN,NaN
325262,2024-07-28 20:00:00-04:00,137.589996,137.779999,135.619995,137.380005,1222600,0.000,1.0,A,0.059998,...,122.320007,2.160004,-0.209991,65.157669,93.333333,6.666667,118.950570,NaN,NaN,NaN
335206,2024-07-29 20:00:00-04:00,138.039993,139.729996,137.110001,139.490005,1428000,0.000,1.0,A,2.110001,...,122.380005,2.619995,1.450012,59.234432,86.666667,0.000000,119.834065,NaN,NaN,NaN
345152,2024-07-30 20:00:00-04:00,140.389999,144.000000,139.710007,141.399994,2582700,0.000,1.0,A,1.909988,...,124.490005,4.289993,1.009995,73.023287,100.000000,0.000000,120.875399,NaN,NaN,NaN
355101,2024-07-31 20:00:00-04:00,142.240005,144.220001,141.750000,142.860001,2896500,0.000,1.0,A,1.460007,...,126.399994,2.470001,0.619995,82.140676,100.000000,0.000000,121.977895,NaN,NaN,NaN
365056,2024-08-01 20:00:00-04:00,141.979996,143.169998,135.759995,139.039993,2298400,0.000,1.0,A,-3.820007,...,127.860001,7.410004,-2.940002,67.382668,93.333333,53.333333,122.302094,NaN,NaN,NaN
375026,2024-08-04 20:00:00-04:00,136.550003,136.820007,133.059998,134.699997,1885200,0.000,1.0,A,-4.339996,...,124.039993,3.760010,-1.850006,52.279074,86.666667,46.666667,121.894373,NaN,NaN,NaN
384998,2024-08-05 20:00:00-04:00,135.419998,138.919998,134.270004,136.259995,1462000,0.000,1.0,A,1.559998,...,119.699997,4.649994,0.839996,62.385910,80.000000,40.000000,121.795254,NaN,NaN,NaN
394971,2024-08-06 20:00:00-04:00,137.250000,138.089996,133.690002,133.960007,1553900,0.000,1.0,A,-2.299988,...,121.259995,4.399994,-3.289993,49.517382,73.333333,33.333333,121.353320,120.183606,1.169714,NaN
404947,2024-08-07 20:00:00-04:00,134.149994,137.220001,133.779999,136.759995,976900,0.000,1.0,A,2.799988,...,118.960007,3.440002,2.610001,53.920705,66.666667,26.666667,121.416581,120.317086,1.099496,NaN
414927,2024-08-08 20:00:00-04:00,136.839996,137.860001,136.100006,136.899994,737600,0.000,1.0,A,0.139999,...,121.759995,1.759995,0.059998,48.975575,60.000000,20.000000,121.491651,120.449711,1.041939,NaN
424909,2024-08-11 20:00:00-04:00,136.809998,136.809998,134.479996,135.600006,1347200,0.000,1.0,A,-1.299988,...,121.899994,2.330002,-1.209991,45.906159,53.333333,13.333333,121.353386,120.462183,0.891204,NaN
434891,2024-08-12 20:00:00-04:00,135.830002,137.699997,135.330002,137.419998,1158000,0.000,1.0,A,1.819992,...,120.600006,2.369995,1.589996,45.174797,46.666667,6.666667,121.518581,120.623208,0.895372,NaN
444875,2024-08-13 20:00:00-04:00,137.929993,138.690002,135.880005,136.029999,1090000,0.000,1.0,A,-1.389999,...,122.419998,2.809998,-1.899994,37.171513,40.000000,0.000000,121.442988,120.656395,0.786594,NaN
454869,2024-08-14 20:00:00-04:00,137.660004,139.990005,137.660004,139.889999,1120300,0.000,1.0,A,3.860001,...,121.029999,2.330002,2.229996,43.634790,33.333333,46.666667,121.975838,120.999202,0.976636,NaN
464865,2024-08-15 20:00:00-04:00,139.789993,140.899994,138.520004,140.039993,1284800,0.000,1.0,A,0.149994,...,124.889999,2.379990,0.250000,52.543242,26.666667,40.000000,122.449157,121.324155,1.125001,NaN
474865,2024-08-18 20:00:00-04:00,140.550003,141.289993,139.279999,140.509995,1714000,0.000,1.0,A,0.470001,...,125.039993,2.009995,-0.040009,68.397774,20.000000,33.333333,122.921668,121.658651,1.263017,1.050966
484866,2024-08-19 20:00:00-04:00,140.600006,141.539993,139.429993,139.750000,1227700,0.000,1.0,A,-0.759995,...,125.509995,2.110001,-0.850006,61.641156,13.333333,26.666667,123.203765,121.904251,1.299514,1.106655
494871,2024-08-20 20:00:00-04:00,139.979996,140.789993,139.149994,139.990005,2263000,0.000,1.0,A,0.240005,...,124.750000,1.639999,0.010010,73.317929,6.666667,20.000000,123.479244,122.148096,1.331149,1.155773
504878,2024-08-21 20:00:00-04:00,145.380005,145.449997,138.149994,140.220001,2634500,0.000,1.0,A,0.229996,...,124.990005,7.300003,-5.160004,66.698922,100.000000,13.333333,123.747608,122.389651,1.357957,1.199194
514890,2024-08-22 20:00:00-04:00,141.210007,142.270004,140.160004,140.869995,1735700,0.000,1.0,A,0.649994,...,125.220001,2.110001,-0.340012,68.261335,93.333333,6.666667,124.074702,122.662081,1.412621,1.244362
524907,2024-08-25 20:00:00-04:00,141.110001,141.179993,139.960007,140.490005,1013200,0.000,1.0,A,-0.379990,...,125.869995,1.219986,-0.619995,74.572944,86.666667,0.000000,124.292764,122.882516,1.410248,1.279066
534925,2024-08-26 20:00:00-04:00,140.479996,141.210007,139.710007,141.100006,949700,0.000,1.0,A,0.610001,...,125.490005,1.500000,0.620010,71.052737,80.000000,6.666667,124.571150,123.132348,1.438802,1.312178
544945,2024-08-27 20:00:00-04:00,141.529999,142.309998,140.289993,141.059998,1089900,0.000,1.0,A,-0.040009,...,126.100006,2.020004,-0.470001,84.032541,73.333333,0.000000,124.800446,123.358866,1.441581,1.338808
554965,2024-08-28 20:00:00-04:00,142.070007,143.440002,141.110001,142.529999,1577400,0.000,1.0,A,1.470001,...,126.059998,2.330002,0.459991,76.400074,66.666667,0.000000,125.220755,123.680533,1.540222,1.380019
564991,2024-08-29 20:00:00-04:00,142.160004,143.270004,141.020004,142.919998,1570700,0.000,1.0,A,0.389999,...,127.529999,2.250000,0.759995,77.481014,60.000000,6.666667,125.636338,124.006478,1.629861,1.430904
575018,2024-09-02 20:00:00-04:00,141.630005,143.270004,138.059998,138.960007,1629200,0.000,1.0,A,-3.959991,...,127.919998,5.210007,-2.669998,41.122616,53.333333,0.000000,125.378275,124.002915,1.375361,1.419633
585047,2024-09-03 20:00:00-04:00,138.389999,139.660004,136.490005,138.160004,1368700,0.000,1.0,A,-0.800003,...,123.960007,3.169998,-0.229996,40.935015,46.666667,0.000000,125.036817,123.938458,1.098360,1.354629
595074,2024-09-04 20:00:00-04:00,138.360001,139.059998,136.929993,138.360001,1194600,0.000,1.0,A,0.199997,...,123.160004,2.130005,0.000000,40.664327,40.000000,0.000000,124.778727,123.894329,0.884398,1.259707
147151,2024-07-01 20:00:00-04:00,39.759469,41.015348,39.723588,40.696396,4039500,0.000,1.0,AA,1.126305,...,24.570091,1.291761,0.936927,100.000000,13.333333,40.000000,NaN,NaN,NaN,NaN
157005,2024-07-02 20:00:00-04:00,41.453910,42.859296,41.443944,42.241325,4074500,0.000,1.0,AA,1.544930,...,25.696396,1.415352,0.787416,100.000000,100.000000,33.333333,NaN,NaN,NaN,NaN
166869,2024-07-04 20:00:00-04:00,42.510440,42.958965,42.281190,42.301125,2670200,0.000,1.0,AA,0.059799,...,27.241325,0.677775,-0.209316,100.000000,100.000000,26.666667,NaN,NaN,NaN,NaN
176733,2024-07-07 20:00:00-04:00,42.400799,42.410765,41.174825,41.523678,3001000,0.000,1.0,AA,-0.777447,...,27.301125,1.235940,-0.877121,77.840925,93.333333,20.000000,NaN,NaN,NaN,NaN

In [15]:
# Let's create another variable which is the difference between previous day's Adj Close and current day's Adj Close
df['prev_diff'] = df['adj close'] - df['prev_close']

In [16]:
df.head(50)

,date,open,high,low,close,volume,dividends,stock splits,symbol,capital gains,...,maxdiff,daydiff,RSI,up,dn,EMA12,EMA26,MACD,SignalLine,prev_diff
147150,2024-07-01 20:00:00-04:00,127.430000,128.570007,125.440002,125.779999,1981100,0.236,1.0,A,-1.384003,...,3.130005,-1.650002,0.000000,60.000000,100.000000,NaN,NaN,NaN,NaN,-1.148003
157004,2024-07-02 20:00:00-04:00,126.120003,127.660004,125.830002,126.129997,1288200,0.000,1.0,A,0.349998,...,1.830002,0.009995,23.364366,53.333333,93.333333,NaN,NaN,NaN,NaN,0.349998
166868,2024-07-04 20:00:00-04:00,126.400002,126.610001,125.290001,126.370003,1341700,0.000,1.0,A,0.240005,...,1.320000,-0.029999,33.947164,46.666667,100.000000,NaN,NaN,NaN,NaN,0.240005
176732,2024-07-07 20:00:00-04:00,126.680000,126.730003,125.400002,126.070000,2091100,0.000,1.0,A,-0.300003,...,1.330002,-0.610001,28.950008,40.000000,93.333333,NaN,NaN,NaN,NaN,-0.300003
186597,2024-07-08 20:00:00-04:00,126.239998,126.239998,124.160004,125.419998,1558900,0.000,1.0,A,-0.650002,...,2.079994,-0.820000,21.949461,33.333333,100.000000,NaN,NaN,NaN,NaN,-0.650002
196464,2024-07-09 20:00:00-04:00,126.419998,127.139999,125.540001,127.070000,1837300,0.000,1.0,A,1.650002,...,1.599998,0.650002,51.636674,26.666667,93.333333,NaN,NaN,NaN,NaN,1.650002
206333,2024-07-10 20:00:00-04:00,128.800003,131.539993,127.879997,130.820007,1667200,0.000,1.0,A,3.750008,...,3.659996,2.020004,74.060312,20.000000,86.666667,NaN,NaN,NaN,NaN,3.750008
216210,2024-07-11 20:00:00-04:00,131.169998,133.399994,130.639999,132.229996,1477300,0.000,1.0,A,1.409988,...,2.759995,1.059998,77.911083,13.333333,80.000000,NaN,NaN,NaN,NaN,1.409988
226099,2024-07-14 20:00:00-04:00,132.009995,133.139999,130.779999,131.009995,1015700,0.000,1.0,A,-1.220001,...,2.360001,-1.000000,69.042682,6.666667,73.333333,NaN,NaN,NaN,NaN,-1.220001
235994,2024-07-15 20:00:00-04:00,131.990005,136.190002,131.600006,136.059998,1064300,0.000,1.0,A,5.050003,...,4.589996,4.069992,78.957346,0.000000,66.666667,NaN,NaN,NaN,NaN,5.050003
245890,2024-07-16 20:00:00-04:00,135.160004,136.000000,133.419998,133.500000,1031200,0.000,1.0,A,-2.559998,...,2.580002,-1.660004,72.467979,93.333333,60.000000,NaN,NaN,NaN,NaN,-2.559998
255787,2024-07-17 20:00:00-04:00,132.320007,135.210007,131.660004,131.970001,2783500,0.000,1.0,A,-1.529999,...,3.550003,-0.350006,65.904143,86.666667,53.333333,116.239395,NaN,NaN,NaN,-1.529999
265695,2024-07-18 20:00:00-04:00,131.960007,132.779999,130.289993,131.779999,1731400,0.000,1.0,A,-0.190002,...,2.490005,-0.180008,64.773333,80.000000,46.666667,116.374243,NaN,NaN,NaN,-0.190002
275610,2024-07-21 20:00:00-04:00,133.059998,133.929993,131.399994,133.419998,2009400,0.000,1.0,A,1.639999,...,2.529999,0.360001,68.702285,73.333333,40.000000,116.762753,NaN,NaN,NaN,1.639999
285528,2024-07-22 20:00:00-04:00,137.610001,137.660004,130.490005,130.649994,1640800,0.000,1.0,A,-2.770004,...,7.169998,-6.960007,62.011931,100.000000,33.333333,116.615881,NaN,NaN,NaN,-2.770004
295449,2024-07-23 20:00:00-04:00,130.869995,134.429993,130.179993,134.160004,2066700,0.000,1.0,A,3.510010,...,4.250000,3.290009,64.649056,93.333333,26.666667,117.036317,NaN,NaN,NaN,3.274010
305383,2024-07-24 20:00:00-04:00,133.949997,138.369995,133.449997,134.979996,1338900,0.000,1.0,A,0.819992,...,4.919998,1.029999,59.587542,100.000000,20.000000,117.517294,NaN,NaN,NaN,0.819992
315319,2024-07-25 20:00:00-04:00,136.690002,140.289993,136.080002,137.320007,1717700,0.000,1.0,A,2.340012,...,4.209991,0.630005,61.344319,100.000000,13.333333,118.294604,NaN,NaN,NaN,2.340012
325262,2024-07-28 20:00:00-04:00,137.589996,137.779999,135.619995,137.380005,1222600,0.000,1.0,A,0.059998,...,2.160004,-0.209991,65.157669,93.333333,6.666667,118.950570,NaN,NaN,NaN,0.059998
335206,2024-07-29 20:00:00-04:00,138.039993,139.729996,137.110001,139.490005,1428000,0.000,1.0,A,2.110001,...,2.619995,1.450012,59.234432,86.666667,0.000000,119.834065,NaN,NaN,NaN,2.110001
345152,2024-07-30 20:00:00-04:00,140.389999,144.000000,139.710007,141.399994,2582700,0.000,1.0,A,1.909988,...,4.289993,1.009995,73.023287,100.000000,0.000000,120.875399,NaN,NaN,NaN,1.909988
355101,2024-07-31 20:00:00-04:00,142.240005,144.220001,141.750000,142.860001,2896500,0.000,1.0,A,1.460007,...,2.470001,0.619995,82.140676,100.000000,0.000000,121.977895,NaN,NaN,NaN,1.460007
365056,2024-08-01 20:00:00-04:00,141.979996,143.169998,135.759995,139.039993,2298400,0.000,1.0,A,-3.820007,...,7.410004,-2.940002,67.382668,93.333333,53.333333,122.302094,NaN,NaN,NaN,-3.820007
375026,2024-08-04 20:00:00-04:00,136.550003,136.820007,133.059998,134.699997,1885200,0.000,1.0,A,-4.339996,...,3.760010,-1.850006,52.279074,86.666667,46.666667,121.894373,NaN,NaN,NaN,-4.339996
384998,2024-08-05 20:00:00-04:00,135.419998,138.919998,134.270004,136.259995,1462000,0.000,1.0,A,1.559998,...,4.649994,0.839996,62.385910,80.000000,40.000000,121.795254,NaN,NaN,NaN,1.559998
394971,2024-08-06 20:00:00-04:00,137.250000,138.089996,133.690002,133.960007,1553900,0.000,1.0,A,-2.299988,...,4.399994,-3.289993,49.517382,73.333333,33.333333,121.353320,120.183606,1.169714,NaN,-2.299988
404947,2024-08-07 20:00:00-04:00,134.149994,137.220001,133.779999,136.759995,976900,0.000,1.0,A,2.799988,...,3.440002,2.610001,53.920705,66.666667,26.666667,121.416581,120.317086,1.099496,NaN,2.799988
414927,2024-08-08 20:00:00-04:00,136.839996,137.860001,136.100006,136.899994,737600,0.000,1.0,A,0.139999,...,1.759995,0.059998,48.975575,60.000000,20.000000,121.491651,120.449711,1.041939,NaN,0.139999
424909,2024-08-11 20:00:00-04:00,136.809998,136.809998,134.479996,135.600006,1347200,0.000,1.0,A,-1.299988,...,2.330002,-1.209991,45.906159,53.333333,13.333333,121.353386,120.462183,0.891204,NaN,-1.299988
434891,2024-08-12 20:00:00-04:00,135.830002,137.699997,135.330002,137.419998,1158000,0.000,1.0,A,1.819992,...,2.369995,1.589996,45.174797,46.666667,6.666667,121.518581,120.623208,0.895372,NaN,1.819992
444875,2024-08-13 20:00:00-04:00,137.929993,138.690002,135.880005,136.029999,1090000,0.000,1.0,A,-1.389999,...,2.809998,-1.899994,37.171513,40.000000,0.000000,121.442988,120.656395,0.786594,NaN,-1.389999
454869,2024-08-14 20:00:00-04:00,137.660004,139.990005,137.660004,139.889999,1120300,0.000,1.0,A,3.860001,...,2.330002,2.229996,43.634790,33.333333,46.666667,121.975838,120.999202,0.976636,NaN,3.860001
464865,2024-08-15 20:00:00-04:00,139.789993,140.899994,138.520004,140.039993,1284800,0.000,1.0,A,0.149994,...,2.379990,0.250000,52.543242,26.666667,40.000000,122.449157,121.324155,1.125001,NaN,0.149994
474865,2024-08-18 20:00:00-04:00,140.550003,141.289993,139.279999,140.509995,1714000,0.000,1.0,A,0.470001,...,2.009995,-0.040009,68.397774,20.000000,33.333333,122.921668,121.658651,1.263017,1.050966,0.470001
484866,2024-08-19 20:00:00-04:00,140.600006,141.539993,139.429993,139.750000,1227700,0.000,1.0,A,-0.759995,...,2.110001,-0.850006,61.641156,13.333333,26.666667,123.203765,121.904251,1.299514,1.106655,-0.759995
494871,2024-08-20 20:00:00-04:00,139.979996,140.789993,139.149994,139.990005,2263000,0.000,1.0,A,0.240005,...,1.639999,0.010010,73.317929,6.666667,20.000000,123.479244,122.148096,1.331149,1.155773,0.240005
504878,2024-08-21 20:00:00-04:00,145.380005,145.449997,138.149994,140.220001,2634500,0.000,1.0,A,0.229996,...,7.300003,-5.160004,66.698922,100.000000,13.333333,123.747608,122.389651,1.357957,1.199194,0.229996
514890,2024-08-22 20:00:00-04:00,141.210007,142.270004,140.160004,140.869995,1735700,0.000,1.0,A,0.649994,...,2.110001,-0.340012,68.261335,93.333333,6.666667,124.074702,122.662081,1.412621,1.244362,0.649994
524907,2024-08-25 20:00:00-04:00,141.110001,141.179993,139.960007,140.490005,1013200,0.000,1.0,A,-0.379990,...,1.219986,-0.619995,74.572944,86.666667,0.000000,124.292764,122.882516,1.410248,1.279066,-0.379990
534925,2024-08-26 20:00:00-04:00,140.479996,141.210007,139.710007,141.100006,949700,0.000,1.0,A,0.610001,...,1.500000,0.620010,71.052737,80.000000,6.666667,124.571150,123.132348,1.438802,1.312178,0.610001
544945,2024-08-27 20:00:00-04:00,141.529999,142.309998,140.289993,141.059998,1089900,0.000,1.0,A,-0.040009,...,2.020004,-0.470001,84.032541,73.333333,0.000000,124.800446,123.358866,1.441581,1.338808,-0.040009
554965,2024-08-28 20:00:00-04:00,142.070007,143.440002,141.110001,142.529999,1577400,0.000,1.0,A,1.470001,...,2.330002,0.459991,76.400074,66.666667,0.000000,125.220755,123.680533,1.540222,1.380019,1.470001
564991,2024-08-29 20:00:00-04:00,142.160004,143.270004,141.020004,142.919998,1570700,0.000,1.0,A,0.389999,...,2.250000,0.759995,77.481014,60.000000,6.666667,125.636338,124.006478,1.629861,1.430904,0.389999
575018,2024-09-02 20:00:00-04:00,141.630005,143.270004,138.059998,138.960007,1629200,0.000,1.0,A,-3.959991,...,5.210007,-2.669998,41.122616,53.333333,0.000000,125.378275,124.002915,1.375361,1.419633,-3.959991
585047,2024-09-03 20:00:00-04:00,138.389999,139.660004,136.490005,138.160004,1368700,0.000,1.0,A,-0.800003,...,3.169998,-0.229996,40.935015,46.666667,0.000000,125.036817,123.938458,1.098360,1.354629,-0.800003
595074,2024-09-04 20:00:00-04:00,138.360001,139.059998,136.929993,138.360001,1194600,0.000,1.0,A,0.199997,...,2.130005,0.000000,40.664327,40.000000,0.000000,124.778727,123.894329,0.884398,1.259707,0.199997
147151,2024-07-01 20:00:00-04:00,39.759469,41.015348,39.723588,40.696396,4039500,0.000,1.0,AA,1.126305,...,1.291761,0.936927,100.000000,13.333333,40.000000,NaN,NaN,NaN,NaN,1.126305
157005,2024-07-02 20:00:00-04:00,41.453910,42.859296,41.443944,42.241325,4074500,0.000,1.0,AA,1.544930,...,1.415352,0.787416,100.000000,100.000000,33.333333,NaN,NaN,NaN,NaN,1.544930
166869,2024-07-04 20:00:00-04:00,42.510440,42.958965,42.281190,42.301125,2670200,0.000,1.0,AA,0.059799,...,0.677775,-0.209316,100.000000,100.000000,26.666667,NaN,NaN,NaN,NaN,0.059799
176733,2024-07-07 20:00:00-04:00,42.400799,42.410765,41.174825,41.523678,3001000,0.000,1.0,AA,-0.777447,...,1.235940,-0.877121,77.840925,93.333333,20.000000,NaN,NaN,NaN,NaN,-0.777447

In [17]:
# Percentage change
# Percentage change on Adj Close for tomorrow
df['change_tomorrow'] = df['adj close'].pct_change(-1)
df['change_tomorrow']

147150   -0.003143
157004   -0.002150
166868    0.002695
176732    0.005874
186597   -0.014692
            ...
575017    0.054534
585046   -0.000457
595073    0.040928
605101    0.061185
609042         NaN
Name: change_tomorrow, Length: 455154, dtype: float64

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 455154 entries, 147150 to 609042
Data columns (total 26 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   date                455154 non-null  datetime64[ns, UTC-04:00]
 1   open                455154 non-null  float64
 2   high                455154 non-null  float64
 3   low                 455154 non-null  float64
 4   close               455154 non-null  float64
 5   volume              455154 non-null  int64
 6   dividends           455154 non-null  float64
 7   stock splits        455154 non-null  float64
 8   symbol              455154 non-null  object
 9   capital gains       455154 non-null  float64
 10  previous day close  455154 non-null  float64
 11  rolling_dividends   455154 non-null  float64
 12  rolling_splits      455154 non-null  float64
 13  adj close           455154 non-null  float64
 14  prev_close          455154 non-null  float64
 15  maxdiff             455154 non-null  float64
 16  daydiff             455154 non-null  float64
 17  RSI                 455154 non-null  float64
 18  up                  455154 non-null  float64
 19  dn                  455154 non-null  float64
 20  EMA12               345589 non-null  float64
 21  EMA26               207210 non-null  float64
 22  MACD                207210 non-null  float64
 23  SignalLine          128974 non-null  float64
 24  prev_diff           455154 non-null  float64
 25  change_tomorrow     455152 non-null  float64
dtypes: datetime64[ns, UTC-04:00](1), float64(23), int64(1), object(1)
memory usage: 109.9+ MB

In [19]:
# we shall multiply by -1
df.change_tomorrow = df.change_tomorrow* -1
df.head()

,date,open,high,low,close,volume,dividends,stock splits,symbol,capital gains,...,daydiff,RSI,up,dn,EMA12,EMA26,MACD,SignalLine,prev_diff,change_tomorrow
147150,2024-07-01 20:00:00-04:00,127.430000,128.570007,125.440002,125.779999,1981100,0.236,1.0,A,-1.384003,...,-1.650002,0.000000,60.000000,100.000000,NaN,NaN,NaN,NaN,-1.148003,0.003143
157004,2024-07-02 20:00:00-04:00,126.120003,127.660004,125.830002,126.129997,1288200,0.000,1.0,A,0.349998,...,0.009995,23.364366,53.333333,93.333333,NaN,NaN,NaN,NaN,0.349998,0.002150
166868,2024-07-04 20:00:00-04:00,126.400002,126.610001,125.290001,126.370003,1341700,0.000,1.0,A,0.240005,...,-0.029999,33.947164,46.666667,100.000000,NaN,NaN,NaN,NaN,0.240005,-0.002695
176732,2024-07-07 20:00:00-04:00,126.680000,126.730003,125.400002,126.070000,2091100,0.000,1.0,A,-0.300003,...,-0.610001,28.950008,40.000000,93.333333,NaN,NaN,NaN,NaN,-0.300003,-0.005874
186597,2024-07-08 20:00:00-04:00,126.239998,126.239998,124.160004,125.419998,1558900,0.000,1.0,A,-0.650002,...,-0.820000,21.949461,33.333333,100.000000,NaN,NaN,NaN,NaN,-0.650002,0.014692

In [20]:
df.change_tomorrow = df.change_tomorrow* 100
df.head()

,date,open,high,low,close,volume,dividends,stock splits,symbol,capital gains,...,daydiff,RSI,up,dn,EMA12,EMA26,MACD,SignalLine,prev_diff,change_tomorrow
147150,2024-07-01 20:00:00-04:00,127.430000,128.570007,125.440002,125.779999,1981100,0.236,1.0,A,-1.384003,...,-1.650002,0.000000,60.000000,100.000000,NaN,NaN,NaN,NaN,-1.148003,0.314278
157004,2024-07-02 20:00:00-04:00,126.120003,127.660004,125.830002,126.129997,1288200,0.000,1.0,A,0.349998,...,0.009995,23.364366,53.333333,93.333333,NaN,NaN,NaN,NaN,0.349998,0.215047
166868,2024-07-04 20:00:00-04:00,126.400002,126.610001,125.290001,126.370003,1341700,0.000,1.0,A,0.240005,...,-0.029999,33.947164,46.666667,100.000000,NaN,NaN,NaN,NaN,0.240005,-0.269530
176732,2024-07-07 20:00:00-04:00,126.680000,126.730003,125.400002,126.070000,2091100,0.000,1.0,A,-0.300003,...,-0.610001,28.950008,40.000000,93.333333,NaN,NaN,NaN,NaN,-0.300003,-0.587407
186597,2024-07-08 20:00:00-04:00,126.239998,126.239998,124.160004,125.419998,1558900,0.000,1.0,A,-0.650002,...,-0.820000,21.949461,33.333333,100.000000,NaN,NaN,NaN,NaN,-0.650002,1.469202

In [21]:
# Loop through all columns and interpolate missing values
for col in df.columns:
    df[col] = df[col].interpolate(method='linear')  # Interpolate missing values linearly

# Fill remaining NaN values for each column by subtracting the minimum value in each column
for col in df.columns:
    df[col].fillna(df[col].min(), inplace=True)  # Fill remaining NaNs with column's minimum

C:\Users\91628\AppData\Local\Temp\ipykernel_9568\4262225468.py:3: FutureWarning: Series.interpolate with object dtype is deprecated and will raise in a future version. Call obj.infer_objects(copy=False) before interpolating instead.
  df[col] = df[col].interpolate(method='linear')  # Interpolate missing values linearly

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 455154 entries, 147150 to 609042
Data columns (total 26 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   date                455154 non-null  datetime64[ns, UTC-04:00]
 1   open                455154 non-null  float64
 2   high                455154 non-null  float64
 3   low                 455154 non-null  float64
 4   close               455154 non-null  float64
 5   volume              455154 non-null  int64
 6   dividends           455154 non-null  float64
 7   stock splits        455154 non-null  float64
 8   symbol              455154 non-null  object
 9   capital gains       455154 non-null  float64
 10  previous day close  455154 non-null  float64
 11  rolling_dividends   455154 non-null  float64
 12  rolling_splits      455154 non-null  float64
 13  adj close           455154 non-null  float64
 14  prev_close          455154 non-null  float64
 15  maxdiff             455154 non-null  float64
 16  daydiff             455154 non-null  float64
 17  RSI                 455154 non-null  float64
 18  up                  455154 non-null  float64
 19  dn                  455154 non-null  float64
 20  EMA12               455154 non-null  float64
 21  EMA26               455154 non-null  float64
 22  MACD                455154 non-null  float64
 23  SignalLine          455154 non-null  float64
 24  prev_diff           455154 non-null  float64
 25  change_tomorrow     455154 non-null  float64
dtypes: datetime64[ns, UTC-04:00](1), float64(23), int64(1), object(1)
memory usage: 109.9+ MB

In [23]:
# change the sign 
 #to know the srock goes up or down
df.change_tomorrow= np.where(df.change_tomorrow>0, 1, -1)
df.head()

,date,open,high,low,close,volume,dividends,stock splits,symbol,capital gains,...,daydiff,RSI,up,dn,EMA12,EMA26,MACD,SignalLine,prev_diff,change_tomorrow
147150,2024-07-01 20:00:00-04:00,127.430000,128.570007,125.440002,125.779999,1981100,0.236,1.0,A,-1.384003,...,-1.650002,0.000000,60.000000,100.000000,-14.98974,-14.988942,-121.455158,-80.883049,-1.148003,1
157004,2024-07-02 20:00:00-04:00,126.120003,127.660004,125.830002,126.129997,1288200,0.000,1.0,A,0.349998,...,0.009995,23.364366,53.333333,93.333333,-14.98974,-14.988942,-121.455158,-80.883049,0.349998,1
166868,2024-07-04 20:00:00-04:00,126.400002,126.610001,125.290001,126.370003,1341700,0.000,1.0,A,0.240005,...,-0.029999,33.947164,46.666667,100.000000,-14.98974,-14.988942,-121.455158,-80.883049,0.240005,-1
176732,2024-07-07 20:00:00-04:00,126.680000,126.730003,125.400002,126.070000,2091100,0.000,1.0,A,-0.300003,...,-0.610001,28.950008,40.000000,93.333333,-14.98974,-14.988942,-121.455158,-80.883049,-0.300003,-1
186597,2024-07-08 20:00:00-04:00,126.239998,126.239998,124.160004,125.419998,1558900,0.000,1.0,A,-0.650002,...,-0.820000,21.949461,33.333333,100.000000,-14.98974,-14.988942,-121.455158,-80.883049,-0.650002,1

In [24]:
# Save the DataFrame as a CSV file
df.to_csv('Feature_engineering.csv', index=False)