In [1]:
import pandas as pd

In [2]:
df= pd.read_csv(r"C:\Users\ASUS\Downloads\Feature_engineering.csv")

In [4]:
df.head(10)

,date,open,high,low,close,volume,dividends,stock splits,symbol,capital gains,...,daydiff,RSI,up,dn,EMA12,EMA26,MACD,SignalLine,prev_diff,change_tomorrow
0,2024-07-01 20:00:00-04:00,127.430000,128.570007,125.440002,125.779999,1981100,0.236,1.0,A,-1.384003,...,-1.650002,0.000000,60.000000,100.000000,-14.98974,-14.988942,-121.455158,-80.883049,-1.148003,1
1,2024-07-02 20:00:00-04:00,126.120003,127.660004,125.830002,126.129997,1288200,0.000,1.0,A,0.349998,...,0.009995,23.364366,53.333333,93.333333,-14.98974,-14.988942,-121.455158,-80.883049,0.349998,1
2,2024-07-04 20:00:00-04:00,126.400002,126.610001,125.290001,126.370003,1341700,0.000,1.0,A,0.240005,...,-0.029999,33.947164,46.666667,100.000000,-14.98974,-14.988942,-121.455158,-80.883049,0.240005,-1
3,2024-07-07 20:00:00-04:00,126.680000,126.730003,125.400002,126.070000,2091100,0.000,1.0,A,-0.300003,...,-0.610001,28.950008,40.000000,93.333333,-14.98974,-14.988942,-121.455158,-80.883049,-0.300003,-1
4,2024-07-08 20:00:00-04:00,126.239998,126.239998,124.160004,125.419998,1558900,0.000,1.0,A,-0.650002,...,-0.820000,21.949461,33.333333,100.000000,-14.98974,-14.988942,-121.455158,-80.883049,-0.650002,1
5,2024-07-09 20:00:00-04:00,126.419998,127.139999,125.540001,127.070000,1837300,0.000,1.0,A,1.650002,...,0.650002,51.636674,26.666667,93.333333,-14.98974,-14.988942,-121.455158,-80.883049,1.650002,1
6,2024-07-10 20:00:00-04:00,128.800003,131.539993,127.879997,130.820007,1667200,0.000,1.0,A,3.750008,...,2.020004,74.060312,20.000000,86.666667,-14.98974,-14.988942,-121.455158,-80.883049,3.750008,1
7,2024-07-11 20:00:00-04:00,131.169998,133.399994,130.639999,132.229996,1477300,0.000,1.0,A,1.409988,...,1.059998,77.911083,13.333333,80.000000,-14.98974,-14.988942,-121.455158,-80.883049,1.409988,-1
8,2024-07-14 20:00:00-04:00,132.009995,133.139999,130.779999,131.009995,1015700,0.000,1.0,A,-1.220001,...,-1.000000,69.042682,6.666667,73.333333,-14.98974,-14.988942,-121.455158,-80.883049,-1.220001,1
9,2024-07-15 20:00:00-04:00,131.990005,136.190002,131.600006,136.059998,1064300,0.000,1.0,A,5.050003,...,4.069992,78.957346,0.000000,66.666667,-14.98974,-14.988942,-121.455158,-80.883049,5.050003,-1

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 455154 entries, 0 to 455153
Data columns (total 26 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   date                455154 non-null  object
 1   open                455154 non-null  float64
 2   high                455154 non-null  float64
 3   low                 455154 non-null  float64
 4   close               455154 non-null  float64
 5   volume              455154 non-null  int64
 6   dividends           455154 non-null  float64
 7   stock splits        455154 non-null  float64
 8   symbol              455154 non-null  object
 9   capital gains       455154 non-null  float64
 10  previous day close  455154 non-null  float64
 11  rolling_dividends   455154 non-null  float64
 12  rolling_splits      455154 non-null  float64
 13  adj close           455154 non-null  float64
 14  prev_close          455154 non-null  float64
 15  maxdiff             455154 non-null  float64
 16  daydiff             455154 non-null  float64
 17  RSI                 455154 non-null  float64
 18  up                  455154 non-null  float64
 19  dn                  455154 non-null  float64
 20  EMA12               455154 non-null  float64
 21  EMA26               455154 non-null  float64
 22  MACD                455154 non-null  float64
 23  SignalLine          455154 non-null  float64
 24  prev_diff           455154 non-null  float64
 25  change_tomorrow     455154 non-null  int64
dtypes: float64(22), int64(2), object(2)
memory usage: 90.3+ MB

Sort by Date and Symbol: Sort the data first by date in ascending order and then by symbol.(its already done but still in am making sure that it is done before the train and test split)
Split: Split the sorted data into a 70% training set and a 30% testing set.
Save as CSV: Save the resulting training and testing DataFrames to CSV files.

In [6]:
df['date']=pd.to_datetime(df['date'])
df=df.sort_values(by=['date','symbol'])

In [9]:
# Define the 70% split index
train_size = int(0.7 * len(df))

In [10]:
# Split the data into training and testing sets
train_df = df[:train_size]
test_df = df[train_size:]

In [11]:
 #Save the training and testing data to CSV files
train_df.to_csv(r"C:\Users\ASUS\Downloads\train_data.csv", index=False)
test_df.to_csv(r"C:\Users\ASUS\Downloads\test_data.csv", index=False)

In [12]:
  # Print confirmation of the split
print(f"Training data saved with {len(train_df)} records.")
print(f"Testing data saved with {len(test_df)} records.")

Training data saved with 318607 records.
Testing data saved with 136547 records.